{% if include.list_type == "articles" %}
  {% assign list = site.data.publications | where: "type","article" %}
{% elsif include.list_type == "selected" %}
  {% assign list2 = site.data.publications | where: "type","article" %}
  {% assign list = list2 | where: "selected","true" %}
{% elsif include.list_type == "thesis" %}
  {% assign list = site.data.publications | where: "type","thesis" %}
{% endif %}


<ul class="fa-ul my-list" style="--fa-li-margin: 3.5em;">
  {% for paper in list %}
    <li>
      <span class="fa-li" style="--fa-li-width: 1em;"><i class="fa-solid fa-angle-right"></i></span>
      {{ paper.authors }}
      {% if (include.list_selected==false) and paper.authors %}
        <br>
      {% endif %}
      {{ paper.title }},
      {% if paper.journal %}
        <a href="{{ paper.journal_link }}">{{ paper.journal }}</a>
      {% endif %}
      {% if paper.arxiv_link %}
        , <a href="{{ paper.arxiv_link }}"">{{ paper.arxiv }}</a>
      {% endif %}
      ({{ paper.year }}).
    </li>
  {% endfor %}
  {% if include.list_type == "selected" %}
    <li>
      <span class="fa-li" style="--fa-li-width: 1em;"><i class="fa-solid fa-angle-right"></i></span>
      <a href="\publications" >More publications</a>
    </li>
  {% endif %}
</ul>
