{% for item in site.data.resources %}
<h3>{{ item.field }}</h3>
<ul class="fa-ul my-list" style="--fa-li-margin: 3.5em;">
  {% for reference in item.elements %}
  <li>
    <span class="fa-li" style="--fa-li-width: 1em;"><i class="fa-solid fa-angle-right"></i></span>
        <a href="{{ reference.link }}">{{ reference.name }}</a>
        by {{ reference.authors }}
        {% if reference.pdf %}
          (<a href="{{ reference.pdf }}">PDF</a>)
        {% endif %}
        {% if reference.comment %}
          <br>
          <i> {{ reference.comment }}</i>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% endfor %}
