<!-- Profile picture -->
<div class="profile_picture">
  <img src="/assets/img/boat_pic.jpg" alt="Profile picture" style="width:100%" >
</div>

<!-- Profile info -->
<div class="profile_info">
  <h1>{{ site.data.profile.firstname }}<br>{{ site.data.profile.lastname }}</h1>
  <p>{{ site.data.profile.biorecap }}</p>
</div>

<!-- Profile links -->
<div class="profile_links">
  <ul class="fa-ul profile-icons" style="--fa-li-margin: 2em;">
    {% for item in site.data.profile.profile_links %}
    <li>
      <span class="fa-li"><i class="{{ item.icon }}"></i></span>
      {% if item.link %}
        <a href="{{ item.link }}">{{ item.name }}</a>
      {% else %}
        <span>{{ item.name }}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
